{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."></div>
                <div class="col-md-6">
                    <div class="small mb-1">ISBN : {{ book.isbn }}</div>
                    <h1 class="display-5 fw-bolder">{{ book.title }}</h1>
                    <div class="fs-5 mb-5">
                        <span>Auteur(s) : {{ book.authors|map(a => a.name)|join(', ') }}</span>
                        <br>
                        <span>Editeur : {{ book.editor }}</span>
                        <br>
                        <span>{{ book.pageNumber }} pages - {{ book.editedAt|date('d M Y') }}</span>
                        <br>
                        <span>Statut : {{ book.status.getLabel() }}</span>
                    </div>
                    <p class="lead">{{ book.plot }}</p>
                    <div class="d-flex">
                        <a href="{{ path('app_book_index') }}">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Retour à la liste
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
